html,
body {
	margin: 0;
	padding: 0;
	width: 100%;
	overflow: hidden;
}

.toolbar {
	max-width: 4rem;
	background-color: lightgray;
	/*position: fixed;*/
	/*float: left;*/
	border-right-color: gray;
	border-right-width: 0px;
	border-right-style: solid;
	float: left;
}

.contentLayout {
	background-color: white;
	/*position: fixed;*/
	overflow-wrap: break-word;
	word-break: break-all;
	word-wrap: break-word;
	overflow-y: hidden;
}

.textAutoWrap {
	margin: 10px;
}

input,input:focus,input:active{user-select: text;}
.pagerBar {
	background-color: lightgray;
	/*position: fixed;*/
	/*float: right;*/
	min-height: 3rem;
	line-height: 3rem;
	text-align: right;
	font-size: 1.2rem;
	border-top-color: gray;
	border-top-width: 1px;
	border-top-style: solid;
}

.bt_icon {
	width: 2rem;
	height: 2rem;
	padding: 1rem;
	background: lightgray;
}

.bt_icon:active {
	background: white;
}

.bt_icon_selected {
	background: white;
}

.searchBar {
	display: inline-block;
	border-radius: 0;
	border-bottom-style: none;
	border-bottom-color: gray;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	
	width: 100%;
	height: 2.5rem;
	font-size: 1.5rem;
	text-align:center|left;
}
.searchButton {
	border-radius: 0;
	border-bottom-width: 1px;
	border-bottom-color: gray;
	background-color: white;
	text-align: center;
	margin-top: 0.5rem;
	width: 10%;
	min-width:4rem ;
	margin-bottom: 0.5rem;
	margin-left:2% ;
	margin-right:2.5% ;
	height: 2.5rem;
	font-size: 1.5rem;
	font-family: Arial, Helvetica, sans-serif;
}